@import "tailwindcss";

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-kr: var(--font-noto-kr);
  --font-paperlogy: 'Paperlogy', sans-serif;
}

[data-theme="dark"] {
  --background: #2A2A2A;
  --foreground: #F9FAFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-kr), ui-sans-serif, system-ui;
  --font-cjk: "Noto Sans CJK KR", "Noto Sans KR", sans-serif;
  --font-paperlogy: 'Paperlogy', sans-serif;
}


html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-kr), sans-serif;
  overflow-x: hidden;
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
